doctype html
html(lang="es")
	head
		meta(chaset="utf-8")
		title Inicio
	body
		form(method="POST", enctype="multipart/form-data", action="/subir")
			input(type="file", name="miarchivo")
			input(type="submit")